In [1]:
import requests
import os
import base64
import csv
import json
import re
import datetime
from spotify_client import *
from credentials.config import *

In [2]:
def refresh_accesss_token():
    client_creds = f'{client_id}:{client_secret}'
    client_creds_b64 = base64.b64encode(client_creds.encode())
    refresh_token_header = {
        'Authorization' : f'Basic {client_creds_b64.decode()}'
    }
    # def refresh_playlist_token():
    refresh_url =  'https://accounts.spotify.com/api/token'
    refresh_params = {
        'grant_type': 'refresh_token',
        'refresh_token': f'{refresh_token}'    
    }
    r_token = requests.post(refresh_url, data=refresh_params, headers=refresh_token_header)
    refresh_response = r_token.json()
    access_token = refresh_response['access_token']
    return access_token


playlist_token = refresh_accesss_token()
csv_path = os.path.join('..', 'data', 'meta_scrape.csv')

In [3]:
###
# imported get_date_info into tkinter as a default entry in for the scrape button
# left here in case using the scrape without the gui
###
def get_date_info():    
    my_date = datetime.date.today() 
    year, week_num, day_of_week = my_date.isocalendar()
    date_info = (year, week_num)
    return date_info

In [4]:
def get_track_features(track_uris):

    playlist_token = refresh_accesss_token()
    track_ids = [track[14:] for track in track_uris]
    track_limit = 100 
    # using list comprehension 
    batched_tracks = [track_ids[i * track_limit:(i + 1) * track_limit] for i in range((len(track_ids) + track_limit - 1) // track_limit)]  
#     url = f'https://api.spotify.com/v1/audio-features?ids='
#     =7ouMYWpwJ422jRcDASZB7P%2C4VqPOruhp5EdPBeR92t6lQ%2C2takcwOaAZWiXQijPHIx7B'
    for batch in batched_tracks:
        request_data =  "%2C".join(batch)
        
        url = f'https://api.spotify.com/v1/audio-features?ids={request_data}'
        response = requests.get(
            url,
            headers = {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': f'Bearer {playlist_token}'
            })
 
        b = response.json()

In [5]:
def get_album_tracks(album_ids):
    track_uris = []
#     request_data = json.dumps(uris)
    for album_id in album_ids:
        query = f'https://api.spotify.com/v1/albums/{album_id}/tracks'
        response = requests.get(
            query,
            headers = {
                'Content-Type': 'application/json',
                'Authorization': f'Bearer {playlist_token}'
            })
        response_json = response.json()
        tracks = response_json['items']
        for track in tracks:
            track_uris.append(track['uri'])
    return track_uris

In [6]:
def search_for_albums(week_num, csv_path):

    artists=[]
    albums=[]
    meta_score=[]
    user_score=[]

    albums_not_found = {'artist': [], 'album': []}
    album_ids = set()
    

#     read in weekly metaScrape csv 

    with open(csv_path, newline='') as csvfile:
        reader = csv.DictReader(csvfile)

        for row in reader:
            
#         filter for artists and albums from current week
            if int(row['week_num'])== week_num:

                artists.append(row['artist'])
                albums.append(row['album'])
                meta_score.append(row['meta_score'])
                user_score.append(row['user_score'])
#   initialize spotify client
 
    spotify = SpotifyAPI(client_id, client_secret)
    for al, ar in zip(albums, artists):
#       trim album names of suffixes (e.g. .vol 1, [ep] etc.)
        al_trim = re.split(',|\[', al)
#       search for album ids 
        temp = spotify.search({"album":al_trim[0]}, search_type="album")
        try:
            parse_album_ids = (temp["albums"]["items"][0]["id"])
#   create dicitonary for albums not found
        except:
            albums_not_found['artist'].append(ar)
            albums_not_found['album'].append(al) 
        album_ids.add(parse_album_ids)
#   create log of albums_not_found
    return(get_album_tracks(album_ids))

In [7]:
def add_tracks_to_playlist(week_num, playlist_id):
    track_uris = [track for track in search_for_albums(week_num, csv_path)]
 
    track_limit = 100 
    # using list comprehension 
    batched_tracks = [track_uris[i * track_limit:(i + 1) * track_limit] for i in range((len(track_uris) + track_limit - 1) // track_limit)]  
    url = f'https://api.spotify.com/v1/playlists/{playlist_id}/tracks'

    for batch in batched_tracks:
        request_data = json.dumps(batch)

        requests.post(
            url,
            data=request_data,
            headers = {
            'Content-Type': 'application/json',
            'Authorization': f'Bearer {playlist_token}'
            })
    return

In [8]:
def create_playlist(week_num):
    date_info =  get_date_info()
    year = date_info[0]
    
    request_body = json.dumps({
        'name': f'{year}-week {week_num} scrape',
        'description': f'metacritic rated albums for the {week_num}th of the year',
        'public': True
    })
    url = f'https://api.spotify.com/v1/users/{spotify_user_id}/playlists'


    response = requests.post(
        url,
        data = request_body,
        headers = {
            'Content-Type': 'application/json',
            'Authorization': f'Bearer {playlist_token}'

    })
    response_json = response.json()
    playlist_id = (response_json['id'])
    # code here for traking playlists by writing playlist ids to file
    add_tracks_to_playlist(week_num, playlist_id)

In [9]:
import pandas as pd
import glob

In [10]:
folder = '../data/hist_scrape/'
path = folder+'albums_*.csv'
csv_paths = glob.glob(path, recursive=True)

dfs = [pd.read_csv(csv_path) for csv_path in csv_paths]
df = pd.concat(dfs)

In [15]:
a = 10
print(a)

10

In [17]:
df

,date,year,week_num,album,artist,meta_score,user_score,crit_num,user_num,label,genre
0,"October 31, 2000",2000,44,Stankonia,Outkast,95,88,20,447,Arista/La Face,Rap
1,"May 2, 2000",2000,18,XTRMNTR,Primal Scream,90,88,16,58,Astralwerks,Alternative
2,"May 2, 2000",2000,18,Bachelor No 2 or the last remains of the dodo,Aimee Mann,89,86,13,34,Superego,Alternative
3,"October 24, 2000",2000,43,Stories from the City Stories from the Sea,PJ Harvey,88,89,23,115,Island,Alternative
4,"November 21, 2000",2000,47,Mass Romantic,The New Pornographers,87,88,8,42,Mint Records,Pop
...,...,...,...,...,...,...,...,...,...,...,...
464,"June 19, 2020",2020,25,Bigger Love,John Legend,59,71,7,15,Columbia,Soul
465,"January 10, 2020",2020,2,The Deadbeat Bang of Heartbreak City,Beach Slang,59,45,9,17,Bridge Nine Records,Alternative Pop/Rock
466,"August 28, 2020",2020,35,Smile,Katy Perry,58,83,18,11466,Capitol,Pop
467,"February 14, 2020",2020,7,Changes,Justin Bieber,57,53,16,4342,Def Jam,Pop
468,"May 29, 2020",2020,22,Chapter 1 Snake Oil,Diplo,46,33,10,22,Columbia,Country

In [12]:
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'album',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'artist',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'crit_num',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'date',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'genre',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'label',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'meta_score',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'user_num',
 'user_score',
 'value_counts',
 'values',
 'var',
 'week_num',
 'where',
 'xs',
 'year']

In [66]:
na_df = df[df['label'].isna()]
na_df

,date,year,week_num,album,artist,meta_score,user_score,crit_num,user_num,label,genre
61,"September 19, 2000",2000,38,SelmaSongs Music from the Motion Picture Dance...,Bjrk,76,85,NaN,0,NaN,unknown
77,"June 20, 2000",2000,25,3,Pole,73,0,NaN,0,NaN,unknown
111,"October 17, 2000",2000,42,Eat at Whiteys,Everlast,67,84,NaN,0,NaN,unknown
6,"August 28, 2001",2001,35,Vespertine,Bjrk,88,90,NaN,0,NaN,unknown
12,"May 15, 2001",2001,20,Ágtis Byrjun,Sigur Rós,87,89,NaN,0,NaN,unknown
...,...,...,...,...,...,...,...,...,...,...,...
338,"January 31, 2020",2020,5,ACCA,AlaNi,75,0,7,0,NaN,Vocal Jazz
374,"April 24, 2020",2020,17,Harkin,Harkin,73,0,8,0,NaN,Pop/Rock
412,"October 2, 2020",2020,40,The Album,BlackPink,71,85,NaN,0,NaN,unknown
417,"February 21, 2020",2020,8,Names of North End Women,Lee RanaldoRal Refree,70,0,NaN,0,NaN,unknown
458,"May 15, 2020",2020,20,All Visible Objects,Moby,62,71,NaN,0,NaN,unknown

In [68]:
us_df = df.loc[df.artist=='Holly Golightly the Brokeoffs']
us_df

,date,year,week_num,album,artist,meta_score,user_score,crit_num,user_num,label,genre
343,"March 30, 2010",2010,13,Medicine County,Holly Golightly the Brokeoffs,73,0,NaN,0,NaN,unknown
689,"April 26, 2011",2011,17,No Help Coming,Holly Golightly the Brokeoffs,67,0,NaN,0,NaN,unknown

In [54]:
print(na_df['artist'].unique())

['Bjrk' 'Pole' 'Everlast' 'Sigur Rós' 'Ryksopp' 'Sinéad OConnor'
 'The Jon Spencer Blues Explosion' 'All Girl Summer Fun Band' 'Erlend ye'
 'The Ladybug Transistor' 'Devendra Banhart' 'Nas' 'Ministry' 'Beenie Man'
 'Rosebuds' 'Maria Taylor' 'Iron Wine Calexico' 'Maxmo Park' 'Holopaw'
 'Brian Eno David Byrne' '-' 'Barry Adamson' 'B Fleischmann' 'Hard-Fi'
 'Rainer Maria' 'Nelly Furtado' '44' 'Holy Fuck' 'Dizzee Rascal'
 'Lindstrm' 'Wilderness' 'The Notwist' 'Darker My Love' 'Motrhead'
 'Jack Peate' 'Queen Paul Rodgers' 'Sunn O' 'Rodrigo y Gabriela' 'Mew'
 'Florence the Machine' 'Susanna And The Magical Orchestra' 'Dlek'
 'Wooden Birds' 'Discovery' 'Underoath' 'Flying Lotus' 'Gilad Atzmon'
 'The Booksman' 'Retribution Gospel Choir' 'Wrongtom' 'John Legend'
 'Leon Russell' 'Tony Buck' 'Allo Darlin' 'Jaime Meline' 'Dirty Money'
 'Miller' 'Holly Golightly the Brokeoffs' 'The Pariah Dogs' 'Jakob Dylan'
 'Leo Abrahams' 'Ryan Adams the Cardinals' 'Koool G Murder'
 'Planningtorock' 'Patrick Sansone' 'The Pierces' 'Dinowalrus'
 'Marshall Verdoes' 'Ben Folds' 'Big Benn Klingon' 'Spearhead'
 'Tony Da Gatorra' 'Charlotte Kemp Muhl' 'Shackleton'
 'Black Joe Lewis the Honeybears' 'Jamie xx' 'Aidan Moffat'
 'Abigail Washburn' 'Kode9 the Spaceape' 'Low' 'Action Bronson'
 'The Psychic Paramount' 'Imelda May' 'King Creosote' 'Barry Lynn'
 'Mats Gustafsson' 'Panda Bear' 'Johnny Greenwood' 'Lloyd'
 'Ryuichi Sakamoto' 'Braids' 'Pallers' 'Magik Magik Orchestra'
 'Daniele Luppi' 'YACHT' 'AM' 'Wooden Shjips' 'Eliza Carthy' 'Hella'
 'My Disco' 'Max Loderbauer' 'Wild Divine' 'Sleep Over' 'ODeath' 'De Dijk'
 'Rex Mattress Marshall' 'Eleventh Dream Day' 'Jah Wobble' 'Ben Howard'
 'Phantogram' 'Gui Boratto' 'Colourmusic' 'Bill Laswell' 'Gorillaz'
 'Like Roberts' 'Lori Sean Berg' 'Chain the Gang' 'Tim Wheeler'
 'Norah Jones' 'Kelly Clarkson' 'The Nightwatchman' 'Saves the Day'
 'London Classical Orchestra' 'The Airborne Toxic Event' 'Demi Lovato'
 'Human League' 'Waka Flocka Flame' 'Twin Atlantic' 'James Morrison'
 'Nickelback' 'Jennifer Lopez' 'Metallica' 'V-Nasty' 'Richard Ashcroft'
 'Fiona Apple' 'Anas Mitchell' 'Goldfrapp' 'Alice Russell' 'White Fence'
 'Gretchen Peters' 'Ahmed Abdullahi Gallab' 'Trembling Bells'
 'Bruce Springsteen' 'Jason Urick' 'The Victor Herrero Band'
 'The Expressions' 'The Congos' 'The Thing' 'Fresh Onlys' 'Graham Coxon'
 'DEon' 'Jozef Van Wissem' 'Little Feat' 'Rhett Miller' 'Ben Salisbury'
 'Aukso Orchestra' 'Robert Glasper Experiment' 'Macklemore' 'Nude Beach'
 'Buckshot' 'Fashawn' 'CUBA' 'Daniel Lopatin' 'MeShell Ndegéocello'
 'Plug 2' 'Mairi Morrison' 'Gary Burton' 'Jim Lauderdale' 'Dierks Bentley'
 'Lyle Lovett' 'Grace Potter and the Nocturnals' 'Hilary Hahn'
 'Jeff Graupner' 'Parallel Thought' 'Mark Peters' 'Melvins Lite'
 'Human Dont Be Angry' 'Ed Sheeran' 'Bigg Jus' 'Jamel Irief' 'Gossip'
 'Cher Lloyd' 'The James Hunter Six' 'Killer Mike' 'Beyoncé'
 'Jefferson Hamer' 'Califorina X' 'Unknown Mortal Orchestra'
 'Blixa Bargeld' 'Winston Yellen' 'Dawn McCarthy' '7L'
 'Simone Dinnerstein' 'Jimmy LaValle' 'Various Artists' '-Ziq'
 'Emmylou Harris' 'Vr' 'Wax Idols' 'Corridos Famosos' 'Trentemller'
 'The Bell Laboratory' 'Edie Brickell' 'Justus Khncke' 'David Wingo'
 'EEdEEgEE' 'Matthew Sweet' 'Binki Shapiro' 'Rougue Wave' 'Mofro'
 'Thirty Seconds to Mars' 'Agnetha Fltskog' 'Reverend and the Makers'
 'Fennesz' 'Sidiki Diabate' 'Freddie Gibbs' 'Phil Alvin' 'Keith Jarrett'
 'Robert Plant the Sensational Space Shifters' 'Martin Carthy' 'Ulver'
 'Robyn' 'Wilko Johnson' 'Gunnar rn Tynes' 'Einstrzende Neubauten'
 'Oren Ambarchi' ' Crosses' 'Ab-Soul' 'Howling Bells' 'We Are Scientists'
 'Bobbie Nelson' 'Bo Ningen' 'Electric Wrms' 'Blonde Redhead' 'Lady Gaga'
 'Karl Hyde' 'Santana' 'David Shrigley' 'Susanne Sundfr' 'Levon Vincent'
 'Sarah Neufeld' 'Thunderbitch' 'Lizzo' 'The Dear Hunter' 'John Tejada'
 'Julio Bashmore' 'Ava Luna' 'Rachel Sermanni' 'The Mountain Goats'
 'Marc Almond' 'Peaches' 'Steve Gunn' 'Kwabs' 'Jerusalem in My Heart'
 'The D' 'King Gizzard the Lizard Wizard' 'The Twilight Sad' 'Seth Avett'
 'The Bohicas' 'Imagine Dragons' 'Zac Brown Band' 'Giorgio Moroder'
 'Chance the Rapper' 'Esperanza Spalding' 'Grant-Lee Philips' 'HiEmotions'
 'Wussy' 'La Femme' 'Jóhann Jóhannsson' 'Rokia Traoré' 'The Parrots'
 'Lpsley' 'Beaty Heart' 'Hlos' 'Yuck' 'Brand New'
 'Jim Jones The Righteous Mind' 'Lost Horizons' 'Gabriel Garzón-Montano'
 'Sorority Noise' 'Anohni' 'Ghostpoet' 'Sltface' 'Glen Campbell'
 'Sleigh Bells' 'Angélique Kidjo' 'Mélissa Laveaux' 'Alva Noto' 'CupcakKe'
 'Laurel Halo' 'Wreckless Eric' 'Sumac' 'Asha Devi' 'Novelist'
 'Jake Shears' 'Arctic Monkeys' 'Felicita' 'Kamaal Williams'
 'A Grave with No Name' 'Kate Nash' 'Dave' 'Solange' 'Nilfer Yanya'
 'Beth Gibbons' 'Caroline Polachek' 'slowthai' 'Blood Red Shoes'
 'Steve Lacy' 'Hannah Diamond' 'Womans Hour' 'Mac DeMarco' 'Gang of Four'
 'Yeasayer' 'MARINA' 'Moses Sumney' 'Róisín Murphy' 'Riz Ahmed'
 'Maria McKee' 'drmm' 'Vladislav Delay' 'AlaNi' 'Harkin' 'BlackPink'
 'Lee RanaldoRal Refree' 'Moby']

In [49]:
df.loc[df['genre']=='unknown']

,date,year,week_num,album,artist,meta_score,user_score,crit_num,user_num,label,genre
61,"September 19, 2000",2000,38,SelmaSongs Music from the Motion Picture Dance...,Bjrk,76,85,NaN,0,NaN,unknown
77,"June 20, 2000",2000,25,3,Pole,73,0,NaN,0,NaN,unknown
111,"October 17, 2000",2000,42,Eat at Whiteys,Everlast,67,84,NaN,0,NaN,unknown
139,"September 26, 2000",2000,39,Golden Lies,Meat Puppets,60,0,8,0,Breaking Records/Atlantic,unknown
6,"August 28, 2001",2001,35,Vespertine,Bjrk,88,90,NaN,0,NaN,unknown
...,...,...,...,...,...,...,...,...,...,...,...
407,"October 2, 2020",2020,40,Shiver,Jónsi,71,84,16,0,Krunk,unknown
412,"October 2, 2020",2020,40,The Album,BlackPink,71,85,NaN,0,NaN,unknown
417,"February 21, 2020",2020,8,Names of North End Women,Lee RanaldoRal Refree,70,0,NaN,0,NaN,unknown
449,"December 18, 2020",2020,51,Music to Be Murdered By - Side B Deluxe Edition,Eminem,65,89,7,493,Shady Records / Interscope,unknown
458,"May 15, 2020",2020,20,All Visible Objects,Moby,62,71,NaN,0,NaN,unknown

In [22]:
clean_df = df.dropna()
clean_df

,date,year,week_num,album,artist,meta_score,user_score,crit_num,user_num,label,genre
0,"October 31, 2000",2000,44,Stankonia,Outkast,95,88,20,447,Arista/La Face,Rap
1,"May 2, 2000",2000,18,XTRMNTR,Primal Scream,90,88,16,58,Astralwerks,Alternative
2,"May 2, 2000",2000,18,Bachelor No 2 or the last remains of the dodo,Aimee Mann,89,86,13,34,Superego,Alternative
3,"October 24, 2000",2000,43,Stories from the City Stories from the Sea,PJ Harvey,88,89,23,115,Island,Alternative
4,"November 21, 2000",2000,47,Mass Romantic,The New Pornographers,87,88,8,42,Mint Records,Pop
...,...,...,...,...,...,...,...,...,...,...,...
464,"June 19, 2020",2020,25,Bigger Love,John Legend,59,71,7,15,Columbia,Soul
465,"January 10, 2020",2020,2,The Deadbeat Bang of Heartbreak City,Beach Slang,59,45,9,17,Bridge Nine Records,Alternative Pop/Rock
466,"August 28, 2020",2020,35,Smile,Katy Perry,58,83,18,11466,Capitol,Pop
467,"February 14, 2020",2020,7,Changes,Justin Bieber,57,53,16,4342,Def Jam,Pop
468,"May 29, 2020",2020,22,Chapter 1 Snake Oil,Diplo,46,33,10,22,Columbia,Country

In [ ]:
# working on getting track features for historical scrape
artists=[]
albums=[]
meta_score=[]
user_score=[]

albums_not_found = {'artist': [], 'album': []}
album_ids = set()


#     read in weekly metaScrape csv 

with open(csv_path, newline='') as csvfile:
    reader = csv.DictReader(csvfile)

    for row in reader:

#         filter for artists and albums from current week
        if int(row['week_num'])== week_num:

            artists.append(row['artist'])
            albums.append(row['album'])
            meta_score.append(row['meta_score'])
            user_score.append(row['user_score'])
#   initialize spotify client

spotify = SpotifyAPI(client_id, client_secret)
for al, ar in zip(albums, artists):
#       trim album names of suffixes (e.g. .vol 1, [ep] etc.)
    al_trim = re.split(',|\[', al)
#       search for album ids 
    temp = spotify.search({"album":al_trim[0]}, search_type="album")
    try:
        parse_album_ids = (temp["albums"]["items"][0]["id"])
#   create dicitonary for albums not found
    except:
        albums_not_found['artist'].append(ar)
        albums_not_found['album'].append(al) 
    album_ids.add(parse_album_ids)
#   create log of albums_not_found
return(get_album_tracks(album_ids))